.gnb {
  width: 100%;
  height: 100px;

  background: var(--bg);

  border-bottom: 1px solid var(--gray-dddddd);

  display: flex;
  justify-content: center;
}

.container {
  width: min(1200px, calc(100% - 48px));

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
}

.logo {
  width: 140px;
  object-fit: contain;

  cursor: pointer;
}

@media (max-width: 768px) {
  .gnb {
    height: 100px;
  }

  .container {
    width: calc(100% - 48px);
  }

  .logo {
    width: 130px;
  }
}

@media (max-width: 375px) {
  .gnb {
    height: 100px;
  }
  .container {
    width: calc(100% - 32px);
  }
  .logo {
    width: 106px;
  }
}
