.description {
  margin: 0 0 36px;

  text-align: center;

  color: var(--gray-818181);
  font-size: 20px;
  font-weight: 700;
}

.form {
  width: 600px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label {
  align-self: flex-start;
  color: var(--black);
  font-size: 18px;
  font-weight: 800;

  margin-bottom: -4px;
}
