.wrapper {
  display: flex;
  align-items: center;

  gap: 16px;
}

.item {
  flex: 1;
  height: 56px;

  background: var(--gray-eeeeee);

  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--gray-818181);

  font-size: 18px;
  font-weight: 600;
}

.deleteButton {
  width: 24px;
  height: 37px;

  border: none;
  border-radius: 50%;

  background: var(--ping-bg);

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 48px;
  height: 48px;

  top: 3px;
  left: 508px;
  border-radius: 35px;
  gap: 10px;
  opacity: 1;
  padding: 12px;
}
