body,
button,
input,
textarea,
select {
  font-family: "Pretendard", sans-serif;
}

body {
  background: var(--bg);
  color: var(--black);

  min-height: 100vh;
}
.postTitle {
  color: var(--black);
  font-family: Pretendard;
  font-size: var(--text-32);
  font-style: normal;
  font-weight: var(--weight-extrabold);
  line-height: normal;
}
