:root {
  /* font */
  --font-main: "Pretendard", sans-serif;

  --font-150: 150px;
  --font-120: 120px;
  --font-80: 80px;

  --font-32: 32px;
  --font-24: 24px;
  --font-20: 20px;
  --font-18: 18px;
  --font-16: 16px;
  --font-14: 14px;
  --font-12: 12px;
  --font-10: 10px;

  /* font weight */
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  /* color */
  --black: #414141;

  --gray-818181: #818181;
  --gray-dddddd: #dddddd;
  --gray-eeeeee: #eeeeee;

  --bg: #f6f4ef;
  --brand: #99c08e;

  --error: #c41013;
  --red: #f50e0e;
  --error-bg: #ffa3a5;

  --green-bg: #e1edde;
  --green-text: #578246;

  --yellow-bg: #fff1cc;
  --yellow-text: #c18e1b;

  --blue-bg: #e0f1f5;
  --blue-text: #418099;

  --pink-bg: #fde0e9;
  --pink-text: #bc3c6a;
}
