/* 전체 form 입력 */
.form {
  display: flex;
  justify-content: center;
  margin-top: 66px;
}

/* 스터디 생성 카드 */
.card {
  width: 600px;
  background-color: white;
  border-radius: 16px;
  padding: 24px;
  box-sizing: border-box;
}

/* 페이지 제목 */
.title {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 800;
}

/* input 한 묶음 영역 */
.field {
  margin-bottom: 16px;
}

/* label 스타일 */
.label {
  display: block;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
}

/* 소개 textarea */
.textarea {
  width: 100%;
  height: 98px;
  padding: 15px 20px;
  border: 1px solid var(--gray-dddddd);
  border-radius: 15px;
  resize: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  outline: none;
}

/* 생성 버튼 전체 너비 */
.submitButtonWrapper {
  margin-top: 24px;
}

.submitButtonWrapper button {
  width: 100%;
}

/* 비밀번호 확인 커스텀 input
   - 공용 Input 사용 시 눈 아이콘 출력 문제로 별도 제작 */
.passwordConfirmInput {
  width: 100%;
  height: 56px;
  padding: 15px 20px;
  border: 1px solid var(--gray-dddddd);
  border-radius: 15px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  outline: none;
}

/* 배경 선택  */
.backgroundGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

/* 기본 배경 / 업로드 공통 스타일 */
.backgroundItem,
.uploadItem {
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 1px solid var(--gray-dddddd);
  border-radius: 12px;
  box-sizing: border-box;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bgGreen {
  background: var(--green-bg);
}

.bgYellow {
  background: var(--yellow-bg);
}

.bgBlue {
  background: var(--blue-bg);
}

.bgPink {
  background: var(--pink-bg);
}

.uploadItem {
  background: var(--bg);
  color: var(--gray-818181);
  font-size: 24px;
  font-weight: 700;
}

.fileInput {
  display: none;
}