.empty_state {
  color: var(--gray-818181);
  text-align: center;
  font-family: Pretendard;
  font-size: var(--text-16);
  font-style: normal;
  font-weight: var(--weight-medium);
  line-height: normal;
  position: relative;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
.habit_table {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 10px;
  width: 100%;
}

.table_header,
.table_row {
  display: grid;
  grid-template-columns: 246px repeat(7, 1fr);
  align-items: center;
}

.empty_cell {
  width: 246px;
}

.day {
  color: var(--gray-818181);
  text-align: center;
  font-family: Pretendard;
  font-size: var(--text-18);
  font-style: normal;
  font-weight: var(--weight-regular);
  line-height: 26px; /* 144.444% */
}

.table_title {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 64px;
  padding: 0 24px;
  background: #fff;
}
.habitTitle {
  color: var(--black);
  font-family: Pretendard;
  font-size: var(--text-18);
  font-style: normal;
  font-weight: var(--weight-bold);
  line-height: normal;
}

.check_cell {
  display: flex;
  width: 118px;
  height: 64px;
  padding: 14px 41px;
  justify-content: center;
  align-items: center;
  background: #fff;
}
