.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 19px;
  height: 19px;
}

.point {
  font-size: var(--text-16);
  font-weight: var(--weight-medium);
  color: var(--black);
}